@import 'tailwindcss';

:root {
  --background: 0deg 0% 100%;
  --foreground: 0deg .02% 3.94%;
  --card: 0deg 0% 100%;
  --card-foreground: 0deg .02% 3.94%;
  --popover: 0deg 0% 100%;
  --popover-foreground: 0deg .02% 3.94%;
  --primary: 0deg .02% 9.06%;
  --primary-foreground: 0deg .5% 98.03%;
  --secondary: 0deg .24% 96.06%;
  --secondary-foreground: 0deg .02% 9.06%;
  --muted: 0deg .24% 96.06%;
  --muted-foreground: 0deg .01% 45.16%;
  --accent: 0deg .24% 96.06%;
  --accent-foreground: 0deg .02% 9.06%;
  --destructive: 351.72deg 100% 40.53%;
  --border: 0deg .09% 89.82%;
  --input: 0deg .09% 89.82%;
  --ring: 0deg .02% 63.02%;
  --radius: .625rem;
}
